<!DOCTYPE html>
<html>
<head>
    <title>Add New</title>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            {% if messages %}
                {% for message in messages %}
                    alert("{{ message }}");
                {% endfor %}
            {% endif %}
        });
    </script>
</head>
<body>
    {% block contents %}
    <div class="Add Post">
        <h1>{{ form.FormName }}</h1>
        <form method="post">
            {% csrf_token %}
            {% for field in form %}
                <div>
                    {{ field.label_tag }}
                    {{ field }}
                    <!-- {% if field.errors %}
                        <p class="error">{{ field.errors }}</p>
                    {% endif %}  -->
                </div>
            {% endfor %}
            <button type="submit" name="save">Save</button>
            <button type="submit" name="save_add_another">Save and add another </button>
        </form>
    </div>

{% endblock %}
</body>

