<!-- for more details View this html displays lists all other links like
    Employee, Public Representatives, Cabinet_Committee, subject_committee,
    Sections and all other needed.
-->
{% extends 'base.html' %}
{% load static %}
{% block app_css %}
    <link rel="stylesheet" href="{% static 'css/more_view.css' %}">
{% endblock %}
{% block contents %}
<div class="more_links">
    <div class="box">
        <a href="{% url 'person:profile_view' pub_emp=2 pk=0 %}">जनप्रतिनिधिहरु</a>
    </div>
    <div class="box">
        <a href="{% url 'person:profile_view' pub_emp=1 pk=0 %}">कर्मचारिहरु</a>
    </div>
    <div class="box">
        <a href="{% url 'section_committee' type=0 pk=0 %}">शाखाहरु</a>
    </div>
    <div class="box">
        <a href="{% url 'section_committee' type=0 pk=0 %}">विषयगत समितिहरु</a>
    </div>
    <div class="box">
        <a href="{% url 'section_committee' type=0 pk=0 %}">कार्यपालिका</a>
    </div>
</div>
{% endblock %}