<!-- 
this html displays the list of public representatives on the left and public
representative list on the right while selected employee's or public represenativs 
detail profile is displayed on the middle section.  
-->
{% extends 'base.html' %}
{% block contents %}
<h1>जनप्रतिनिधि/कर्मचारि बिबरण</h1>
<div class="left_content">
    <div class="title"><p>जनप्रतिनिधिहरु</p></div>
    <ul style="list-style-type: none;">
        {% for pubrep in pub_reps %}
        <li><a href="{% url 'person:profile_view' pub_emp=2 pk=pubrep.id%}"> {{ pubrep.get_full_name }} </a></li>
        {% endfor %}
    </ul>

</div>
<div class="middle_content">
    <div class="title"><p>{{title}}</p></div>
    <div class="person_details">
        <p> {{person_object.get_full_name}} </p>
        <p> {{person_object.post}} </p>
        <p> {{person_object.mobile_number}} </p>

        <!-- <p> {{person_object.involved_committees.all}} </p> -->
    </div>
</div>
<div class="right_content">
    <div class="title"><p>कर्मचारिहरु</p></div>
    <ul style="list-style-type: none;">
        {% for emp in employees %}
        <li><a href="{% url 'person:profile_view' pub_emp=1 pk=emp.id%}"> {{emp.get_full_name}} </a></li>
        {% endfor %} 
    </ul>
</div>

{% endblock %}