{% extends 'base.html' %}
{% load static %}
{% block app_css %}
    <link rel="stylesheet" href="{% static 'css/section_committee.css' %}">
{% endblock %}

{% block contents %}
<h1> कार्यपालिका/ समितिहरु तथा शाखाहरु</h1>

<!-- Left Column: Subject Committees -->
<div class="container">
    <div class="left_column">
        <p>विषयगत समितिहरु</p>
        <ul>
            {% for committee in committees %}
                <li><a href="{% url 'section_committee' type=1 pk=committee.id %}">{{committee.name}}</a></li>
            {% endfor %}
        </ul>
    </div>
    
    <!-- Middle Column: Display Active Committee or Section Details -->
    <div class="middle_column">
        {% if type == 0 %}
            <p class="title">कार्यपालिका</p>
            <ul>
            {% for member in active_committee %}
                <li>{{ member.get_full_name }}</li>
            {% endfor %}
            </ul>
        {% elif type == 1 %}
            <p class="title">विषयगत समिति: {{ active_committee.name }}</p>
            <table>
                <thead>
                    <tr>
                        <th>नाम</th>
                        <th>पद</th>
                        <th>वडा</th>
                    </tr>
                </thead>
                <tbody>
                    {% for member in active_committee.members.all %}
                        <tr>
                            <td>{{ member.get_full_name }}</td>
                            <td>{{ member.post }}</td>
                            <td>{{ member.get_ward_display }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% elif type == 2 %}
            <p class="title">शाखा: {{ active_committee.name }}</p>
            <p class="title">शाखाप्रमुख: {{ active_committee.head }}</p>
            <p>सम्पर्क नम्बर: {{ active_committee.head.mobile_number }}</p>
            <table>
                <thead>
                    <tr>
                        <th>नाम</th>
                        <th>पद</th>
                    </tr>
                </thead>
                <tbody>
                    {% for member in active_committee.employees.all %}
                        <tr>
                            <td>{{ member.get_full_name }}</td>
                            <td>{{ member.post }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>
    
    <!-- Right Column: Sections -->
    <div class="right_column">
        <p>शाखाहरु</p>
        <ul>
            {% for section in sections %}
                <li><a href="{% url 'section_committee' type=2 pk=section.id %}">{{section.name}}</a></li>
            {% endfor %}
        </ul>
    </div>
</div>


{% endblock %}
