{% load static %}
 <!DOCTYPE html>
 <html lang="en">
    <head>
        <meta charset="UTF-8">
        {% block title %}
        <title>Annapurna</title>
        {% endblock %}
        <link rel="stylesheet" href="{% static '/css/styles1.css' %}">
        {% block app_css %}
        {% endblock %}
    </head>
    <body>
        <div class="TitleBanner">
            <div class="logo"> 
               <a href="{% url 'annapurnahome' %}"><img src="{% static 'images/emblemnepal.png' %}" alt="emblem nepal" ></a> 
            </div>
            <div class="content">
                <div class="municipal-name">
                    <p id="name"><a style="color: inherit; text-decoration: none; outline: none;" href="{% url 'annapurnahome' %}">अन्नपूर्ण गाउँपालिका</a></p>
                    <p id="office">गाउँकार्यपालिकाको कार्यालय, माछापोखरी, कास्की</p>
                </div>
                <div class="user">
                    {% if user.is_authenticated %}
                    <form method="POST" action="{% url 'logout' %}">
                        {% csrf_token %}
                        <button type="submit" title="click to logout">{{user.first_name}}</button>
                    </form>
                    {% else %}
                    <p><a href="{% url 'login' %}">Log In</a></p>
                    {% endif %}
                </div>
            </div>
            <div class="logo"> 
               <a href="{% url 'person:user_home'%}"><img src="{% static 'images/apgpemblem.png' %}" alt="emblem palika "></a>
            </div>
        </div>
        <div class="contents">
            {% block contents %}
        
            {% endblock %}
        </div>
        
        <div class="footer">
            <footer>&copy; 2024 Bibek Ghimire</footer>
        </div>
   
    </body>
 </html>
 