{% extends 'base.html' %}
{% load static %}
{% block app_css %}
<link rel="stylesheet" href="{% static 'css/service_list_style.css' %}">
{% endblock %}
{% block contents %}

    <h1> सेवाहरु</h1>
    <div id="service-list" class="service-list">
        <!-- Flashcards will be inserted here by JavaScript -->
      </div>
      <div id="popup" class="popup">
        <div class="popup-content">
          <button id="close-popup" class="close-button">वन्द</button>
          <div class="popup-left">
            <h2 id="popup-title"></h2>
            <p id="serv-fee"><strong>सेवा शुल्कः<br></strong> <span id="popup-fee"></span></p>
            <p id="serv-time"><strong>लाग्ने समयः<br></strong> <span id="popup-time"></span></p>
            <p id="complain-to"><strong>गुनासो सुन्ने अधिकारीः<br></strong> <span id="popup-time"></span></p>
          </div>
          <div class="popup-right">
            <h1>आवश्यक कागजातहरुः</h1>
            <p id="req-docs"><strong><br></strong> <span id="popup-docs"></span></p> 
          </div>
          
          
          
        </div>
      </div>
     
{% endblock %}
{% block scripts %}
    <script src="{% static 'js/script.js' %}"></script>
{% endblock %}